.popover {
  z-index: 20;
  background-color: var(--primary);
  border: var(--x-small) solid var(--dark);
  position: absolute;
  color: var(--dark);
  top: 3.3rem;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  border-radius: var(--small);
  padding: var(--small);
}

/* .popover div {
  display: flex;
  align-items: center;
  padding: var(--x-small);
  border-radius: var(--x-small);

  & > * + * {
    margin-left: var(--small);
  }
  &:hover {
    background-color: var(--dark);
    color: var(--primary);
    cursor: pointer;
  }
} */
